body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  padding: 40px ;
  flex: 1;
  width: 100%;
  height: 100vh;
  
  
}
.section-title{
  font-size: 32px;
  border-bottom: 4px solid #333;
}
/* サイドバー */
.title{
  font-size: 30px;
}
.sidebar{
  width: 240px;
  flex-shrink: 0;
  height: 100vh;
  background: #f4f4f8;
  border-right: 1px solid #e0e0e0;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar > button{
  width: 100%;
  text-align: left;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background:transparent;
  font-size: 15px;
  color: #333;
  margin-bottom: 10px;
  transition: .3s;
}
.sidebar > button:hover{
  background: #ccc;
}
.sidebar > button.active{
  border: 1px solid #0066ff;
  background: #0066ff;
  color: #fff;
}
/* ダッシュボード */
.dashboard-lists{
  display: flex;
  list-style: none;
  margin-top: 60px;
  gap: 40px;
}

.dashboard-lists li{
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 160px;
  padding: 20px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.8) ;
}
.dashboard-lists p{
  font-size: 18px;
  margin: 0;
}
.dashboard-lists h3{
  margin: 8px 0;
  font-size: 24px;
  text-align: center;
}
/* テーブル */
.table-wrapper{
  max-height: 400px;
  flex: 1;
  overflow-y: auto;
}
table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 6px;
  overflow-y: auto;
  writing-mode: horizontal-tb;
}
th,td{
  text-align: left;
  border-bottom: 1px solid #e6e6e6;
}
th{
  background: #f4f4f4;
  font-size: 20px;
  padding: 8px ;
}
td{
  font-size: 20px;
  font-weight: bold;
  padding: 10px 8px;
}
td button{
  width: 100px;
}
table tr:hover{
  background: #fafafa;
}
.status-btn{
  width: 100px;
  padding: 4px;
}
.status-blue{
  border: none;
  border-radius: 4px;
  background: rgb(0, 110, 255);
  color: white;
}
.status-green{
  border: none;
  border-radius: 4px;
  background: rgb(68, 255, 0);
  color: white;
}
.status-red{
  border: none;
  border-radius: 4px;
  background: rgb(253, 33, 33);
  color: white;
}
.edit-btn{
  width: 50px;
  margin-left: 16px;
}
/* 予約一覧 */

.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal{
  width: 200px;
  border: 1px solid#ccc;
  border-radius: 8px;
  background: #f4f4f4;
  padding: 16px 40px;
}
.modal button{
  display: block;
  margin: 0 auto;
}
.modal p{
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
}
.reservation-filter{
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 40px 0;
  padding:  0;
}
.reservation-filter button{
  width: 100px;
  height: 32px;
}
/* 追加フォーム */
.add-items{
  margin: 20px 0;
  width: 180px;
  padding: 8px;
}
.add-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
  
}
.add-form input{
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 24px;
}
.add-form select{
  display: block;
  width: 100%;
  height: 28px;
  padding: 0;
  margin: 0;
}
.end-btn button{
  margin-bottom: 8px;
}
/* 顧客一覧/ */
.search-input{
  width: 300px;
  height: 24px;
}